USE [GradProject]

INSERT [dbo].[Courses] ([Code], [CourseName], [CreditHour], [Level], [Semester], [NoOfSec], [NeedsLab], [NoOfLec], [DeptId]) VALUES (N'BS111', N'English Language 1', 3, 1, 1, 2, 0, 2, 4)
INSERT [dbo].[Courses] ([Code], [CourseName], [CreditHour], [Level], [Semester], [NoOfSec], [NeedsLab], [NoOfLec], [DeptId]) VALUES (N'BS114', N'Technical Report Writing', 3, 1, 2, 2, 0, 2, 4)
INSERT [dbo].[Courses] ([Code], [CourseName], [CreditHour], [Level], [Semester], [NoOfSec], [NeedsLab], [NoOfLec], [DeptId]) VALUES (N'BS131', N'Legislation & Professional Ethics', 3, 1, 2, 2, 0, 2, 4)


GO


SET IDENTITY_INSERT [dbo].[PetitionRequests] ON 

INSERT [dbo].[PetitionRequests] ([Id], [DeanId], [CollegeId], [DeptId], [StudentName], [RegistrationNumber], [Semester], [Date], [NumberOfCourses], [AmountPaid], [PaymentDate], [Status]) VALUES (1, N'D1', 1, 1, N'Malak Mohamed Al-Sati', N'123456', 1, CAST(N'2025-04-29T00:00:00.0000000' AS DateTime2), 2, 600, CAST(N'2025-04-29T00:00:00.0000000' AS DateTime2), N'Done')
INSERT [dbo].[PetitionRequests] ([Id], [DeanId], [CollegeId], [DeptId], [StudentName], [RegistrationNumber], [Semester], [Date], [NumberOfCourses], [AmountPaid], [PaymentDate], [Status]) VALUES (2, N'D1', 1, 1, N'Nour Mohamed Ali', N'000000', 1, CAST(N'2025-02-22T00:00:00.0000000' AS DateTime2), 2, 600, CAST(N'2025-02-22T00:00:00.0000000' AS DateTime2), N'In Progress')
SET IDENTITY_INSERT [dbo].[PetitionRequests] OFF
GO



SET IDENTITY_INSERT [dbo].[PetitionCourses] ON 

INSERT [dbo].[PetitionCourses] ([Id], [PetitionRequestId], [CourseCode]) VALUES (1, 1, N'BS251')
INSERT [dbo].[PetitionCourses] ([Id], [PetitionRequestId], [CourseCode]) VALUES (2, 1, N'BS114')
INSERT [dbo].[PetitionCourses] ([Id], [PetitionRequestId], [CourseCode]) VALUES (1002, 2, N'BS111')
SET IDENTITY_INSERT [dbo].[PetitionCourses] OFF
GO


SET IDENTITY_INSERT [dbo].[ResultPetitions] ON 

INSERT [dbo].[ResultPetitions] ([Id], [PetitionCourseId], [ErrorInCorrection], [ApplicationSubmitted], [YearWorkAssessment], [PracticalExamAssessment], [FinalExamAssessment], [TotalGrade], [FinalGrade], [Notes], [AdvisorId], [CreatedAt]) VALUES (1, 1, 0, 1, N'More than Acceptable', N'More than Acceptable', N'More than Acceptable', 1, N'D', N'No errors', 2, CAST(N'2025-05-04T21:44:28.5315037' AS DateTime2))
INSERT [dbo].[ResultPetitions] ([Id], [PetitionCourseId], [ErrorInCorrection], [ApplicationSubmitted], [YearWorkAssessment], [PracticalExamAssessment], [FinalExamAssessment], [TotalGrade], [FinalGrade], [Notes], [AdvisorId], [CreatedAt]) VALUES (2, 2, 0, 1, N'More than Acceptable', N'More than Acceptable', N'More than Acceptable', 1, N'F', N'No errors', 2, CAST(N'2025-05-04T21:44:43.1418578' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ResultPetitions] OFF
GO


SET IDENTITY_INSERT [dbo].[Terms] ON 

INSERT [dbo].[Terms] ([Id], [Semester], [List], [AcademicYear], [Level]) VALUES (1, 1, 2022, 2025, 1)
INSERT [dbo].[Terms] ([Id], [Semester], [List], [AcademicYear], [Level]) VALUES (2, 1, 2022, 2024, 1)
INSERT [dbo].[Terms] ([Id], [Semester], [List], [AcademicYear], [Level]) VALUES (3, 1, 2022, 2023, 1)





SET IDENTITY_INSERT [dbo].[Terms] OFF
GO


INSERT INTO [dbo].[CourseInstructors] ([TeacherId], [CourseCode]) VALUES (N'I5', N'CS011')
INSERT INTO [dbo].[CourseInstructors] ([TeacherId], [CourseCode]) VALUES (N'I20', N'CS012')
INSERT INTO [dbo].[CourseInstructors] ([TeacherId], [CourseCode]) VALUES (N'I4', N'BS111')
GO


INSERT [dbo].[Places] ([PlaceId], [Capacity], [Type], [PlaceName], [IsAvailable]) VALUES (N'R01', N'250', N'Lecture', N'L1', 1)
INSERT [dbo].[Places] ([PlaceId], [Capacity], [Type], [PlaceName], [IsAvailable]) VALUES (N'R02', N'250', N'Lecture', N'L2', 1)
INSERT [dbo].[Places] ([PlaceId], [Capacity], [Type], [PlaceName], [IsAvailable]) VALUES (N'R03', N'250', N'Lecture', N'L3', 1)
GO



SET IDENTITY_INSERT [dbo].Receipts ON 
INSERT INTO Receipts(Id, ReceiptId, Semester, AcademicYear, AmountDue, AmountText, AmountFor, DueDate, PaymentDate, CollegeId, StudentId, FinancialAffairsId, StudentAffairsId) VALUES (1, 'R2025042812346', 1, 2025, 18500, 'Eighteen Thousand Five Hundred', 'Tuition Fees', '2025-05-01 00:00:00.0000000', '2025-04-27 00:00:00.0000000', 1, 'CMP-000002', 1, 2);
INSERT INTO Receipts (Id, ReceiptId, Semester, AcademicYear, AmountDue, AmountText, AmountFor, DueDate, PaymentDate, CollegeId, StudentId, FinancialAffairsId, StudentAffairsId) VALUES (2, 'R2025042812347', 2, 2025, 22000, 'Twenty-Two Thousand', 'Tuition Fees', '2025-05-01 00:00:00.0000000', '2025-04-28 00:00:00.0000000', 1, 'CMP-000003', 1, 1);
INSERT INTO Receipts (Id, ReceiptId, Semester, AcademicYear, AmountDue, AmountText, AmountFor, DueDate, PaymentDate, CollegeId, StudentId, FinancialAffairsId, StudentAffairsId) VALUES (3, 'R2025042812348', 1, 2025, 19500, 'Nineteen Thousand Five Hundred', 'Tuition Fees', '2025-05-01 00:00:00.0000000', '2025-04-27 00:00:00.0000000', 1, 'CMP-000004', 1, 1);
SET IDENTITY_INSERT [dbo].Receipts OFF
GO


 --coursesterms
 INSERT INTO [dbo].[CoursesTerms] ([TermId], [CourseCode], [Price])
SELECT 
    t.Id, 
    c.Code, 
    CASE 
        WHEN t.AcademicYear = 2025 THEN 7000
        WHEN t.AcademicYear = 2024 THEN 6000
		WHEN t.AcademicYear = 2021 THEN 3000
		WHEN t.AcademicYear = 2022 THEN 4000
		WHEN t.AcademicYear = 2023 THEN 5000
		WHEN t.AcademicYear = 2026 THEN 7500
		WHEN t.AcademicYear = 2026 THEN 8000
		WHEN t.AcademicYear = 2020 THEN 2500
        ELSE 0
    END AS Price
FROM Terms t
JOIN Courses c
    ON t.Semester = c.Semester AND t.Level = c.Level



-- enrollment

-- Step 1: Compute all terms per student starting from their RegisterYear
WITH StudentTerms AS (
    SELECT 
        s.Id AS StudentId,
        s.DeptId,
        s.RegisterYear,
        t.Id AS TermId,
        t.Level,
        t.Semester,
        t.AcademicYear,
        ROW_NUMBER() OVER (
            PARTITION BY s.Id
            ORDER BY t.AcademicYear, t.Level, t.Semester
        ) AS TermOrder
    FROM Students s
    JOIN Terms t
        ON t.AcademicYear >= s.RegisterYear
),

-- Step 2: Determine how many terms each student has completed by now (excluding current term)
StudentTermLimits AS (
    SELECT 
        st.StudentId,
        st.DeptId,
        st.TermId,
        st.Level,
        st.Semester,
        st.TermOrder,
        st.RegisterYear,
        -- Student can complete (currentYear - registerYear) * 2 - 1 terms
        ((2025 - st.RegisterYear) * 2 - 1) AS MaxCompletedTerms
    FROM StudentTerms st
),

-- Step 3: Filter only completed terms
StudentCompletedTerms AS (
    SELECT *
    FROM StudentTermLimits
    WHERE TermOrder <= MaxCompletedTerms
),

-- Step 4: Match courses for completed terms
EligibleEnrollments AS (
    SELECT 
        sct.StudentId,
        c.Code AS CourseCode,
        sct.TermId,
        ROW_NUMBER() OVER (
            PARTITION BY sct.StudentId, c.Code
            ORDER BY sct.TermOrder
        ) AS rn
    FROM StudentCompletedTerms sct
    JOIN Courses c 
        ON c.Level = sct.Level 
        AND c.Semester = sct.Semester
        AND (
            sct.DeptId NOT IN (1, 2, 3) OR sct.DeptId = c.DeptId
        )
)

-- Final Insert
INSERT INTO Enrollments ([StudentId], [CourseCode], [Grade], [TermId])
SELECT 
    ee.StudentId,
    ee.CourseCode,
    CHAR(ASCII('A') + ABS(CHECKSUM(NEWID())) % 4) AS Grade,
    ee.TermId
FROM EligibleEnrollments ee
WHERE ee.rn = 1
  AND NOT EXISTS (
    SELECT 1 
    FROM Enrollments e 
    WHERE e.StudentId = ee.StudentId 
      AND e.CourseCode = ee.CourseCode
  );


--applications
DECLARE @i INT = 1;

WHILE @i <= 50
BEGIN
    INSERT INTO [dbo].[Applications] (
        [CreatedAt],
        [Status],
        [StudentAffairsId],
        [StudentId]
    )
    VALUES (
        GETDATE(),                    -- CreatedAt = current datetime
        1,
        1,                            -- StudentAffairsId
        FORMAT(@i, 'CMP-000000')     -- StudentId: CMP-000001 to CMP-000050
    );

    SET @i = @i + 1;
END
GO

-- applications and students
UPDATE s
SET s.ApplicationId = a.Id
FROM Students s
JOIN Applications a ON s.Id = a.StudentId
WHERE s.Id LIKE 'CMP-0000%';

