@{
	ViewData["Title"] = "Follow Up Schedule";
}

<div class="container mt-4 followup">
    <div class="filter my-3">
        <form id="dayFilterForm">
            <div>
                <label for="day" class="form-label fw-bold">Day</label>
                <select name="day" id="day" class="form-control">
                    <option value="">Choose..</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                </select>
            </div>
        </form>
    </div>
    <div class="main-table border p-3">
        <div class="header-container d-flex justify-content-between">
            <div class="header-left">
                <h6>
                    Ministry of Higher Education<br>
                    Modern University for Technology and Information<br>
                    Faculty of Computers and Artificial Intelligence
                </h6>
                <p class="fw-bold">Semester: <i>Spring 2025</i></p>
            </div>
            <div class="header-right">
                <img src="~/images/Mti(Gray).png" style="width: 100px;" alt="MTI Logo">
            </div>
        </div>
        <h4 class="text-center" id="dayTitle"></h4>
        <div id="searchResults">
        <div id="tableContainer">
        </div>
        </div>
        <div class="m-auto my-4 text-center ">
            <button class="btn btn-large btn-primary" onclick="printContainer()">Print</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/print.js"></script>
    <script>
        $(document).ready(function () {
            // Prevent AJAX call when the page first loads.
            let initialLoad = true;

            $('#day').on('change', function () {
                const selectedDay = $(this).val();

                // Update the day title dynamically
                if (selectedDay) {
                    $('#dayTitle').text(`${selectedDay} Follow Up`);
                } else {
                    $('#dayTitle').text(`Follow Up`);
                }

                // Avoid making an AJAX call on the first load
                if (!initialLoad) {
                    // Make an AJAX call to fetch the table for the selected day
                    $.ajax({
                        url: '/FollowUp/GetDayTable', // Controller/Action
                        type: 'GET',
                        data: { day: selectedDay },
                        success: function (response) {
                            $('#tableContainer').html(response);
                        },
                        error: function () {
                            $('#tableContainer').html('<p class="text-danger">Error loading data.</p>');
                        }
                    });
                }

                // Set initialLoad to false after the first change event
                initialLoad = false;
            });

        });
    </script>
}
